// /***********************headeings*********************/

.heading-2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 27px;
  color: $black;
}
.heading-3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 41px;
  color: $black;
}

.md-text {
  font-size: 16px;
  line-height: 28px;
  color: $secondary;
}
