%btn-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  min-height: 40px !important;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  &:disabled {
    background-color: #e5e6e3 !important;
    pointer-events: none;
  }
  &.sm-btn {
    min-height: 30px !important;
    padding: 0 10px;
    font-size: 12px;
  }
  &.md-btn {
    padding: 0 16px;
    min-height: 32px !important;
    font-size: 15px;
  }
  &.rounded {
    border-radius: 70px !important;
  }
  &.lg-btn {
    min-height: 55px !important;
    // font-weight: bold;
    padding: 0 30px !important;
    width: 280px;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 600;
    @include mq("phablet", "max") {
      // font-size: 16px; 
      // width: 140px;
      width: 220px;
      min-height: 45px !important;
      padding: 0 16px !important;
      font-size: 18px;
    }
  }
  &.xlg-btn {
    min-height: 40px !important;
    font-size: 17px;
    font-weight: bold;
    width: 125px;
    text-transform: uppercase;
  }
  @include mq("phablet") {
    padding: 0 12px;
    font-size: 15px;
    white-space: nowrap;
  }
}

$btn-list: (
  (primary, $primary, $white, false, true),
  (secondary, $secondary, $white, false, true),
  (light, $white, $black, false, true),
  (dark, $black, $white, false, true),
  (grayscale, $third-color, $white, true, true)
);

@each $btn-name, $bg-color, $color, $has-hover, $has-outline in $btn-list {
  .#{$btn-name}-fill {
    @extend %btn-style;
    background-color: $bg-color;
    color: $color;
    @if $has-hover {
      &:hover {
        background-color: $color;
        color: $bg-color;
        border: 2px solid $bg-color;
      }
    } @else {
      &:hover,
      &:focus {
        background-color: $bg-color;
        color: $color;
      }
    }
  }
  @if $has-outline {
    .#{$btn-name}-outline {
      @extend %btn-style;
      background-color: #fff;
      color: $bg-color;
      border: 2.5px solid $bg-color;
      &:hover {
        color: #fff;
        background-color: $bg-color;
      }
    }
  }
}

%link-style {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff !important;
  text-transform: capitalize;
  text-decoration: underline !important;
  &.lg-link {
    font-size: 20px;
  }
  @include mq("tablet") {
    font-size: 14.5px;
    &.lg-link {
      font-size: 18px;
    }
  }
}

.primary-link {
  @extend %link-style;
  color: $primary !important;
}
.secondary-link {
  @extend %link-style;
  color: $secondary !important;
}
.light-link {
  @extend %link-style;
}

/////////////////////
//////////////////
.btn-link {
  font-size: 14px;
  text-decoration: none;
  color: $primary;
  padding: 5px 14px; 
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;  
  text-decoration: none !important;
  &:hover, &:focus, &:active  {  
    color: $primary !important;
    background-color: $white !important; 
    border: 1px solid $primary !important;
  }
}

.btn {
  font-size: 20px; 
  color: $secondary;
  background-color: transparent;
  border: none;
  transition: all 0.1s ease-in-out;

  &:hover { 
    color: $black;
  }
  &:active {
    transform: translateY(1px);
  }
}

.go-top {
  font-size: 35px;
  color: rgba($primary, 0.7);
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;

  &:hover {
    color: $primary;
  }
}

.contact-whats-app {
  position: fixed;
  left: 30px;
  bottom: 30px;
  padding: 12px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 7px rgba($secondary, 0.5);
  z-index: 99;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $primary;
  }

  img {
    width: 42px;
    height: 42px;
  }
}
